# IDE support files
/.classpath
/.launch
/.project
/.settings
*.iml
.idea/**

# logs
/stacktrace.log

# plugin release file
/*.zip
plugin.xml

/web-app

# "temporary" build files
/build
/.gradle

# other
*.iws
